*{
    margin: 0;
    padding: 0;
    color: white;
}
/* navigation bar */
 /*display flex means to put contents  display in a row
 position relattive  means it adapts to its content */
 
#navbar{
display: flex; 
align-items: center;
justify-content: space-between;
position: sticky;
top: 0;
}
 /* navbar::before means the condition before or we can say to set background ..for eg the color we set black and content is blank
 z-index-1 means it shows the content of navbar infront of the black background*/
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

    /* logo--Box1*/
#logo{
    margin: 3px 5px;
}

#logo img{
    height: 59px;
    margin: 3px 5px;
}

    /* unorder list of navigation bar*/

#navbar ul {
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    
}
 /* border radius means the circle or the edge will be curve*/
#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
}
#navbar ul li a:hover{
    color: red;
    background-color: black;
}
#navbar ul li a i:hover{
    color: red;
    background-color: black;
}

 /* Home Section*/
 #home{
display: flex;
flex-direction: column;
padding: 3px 200px;
align-items: center;
justify-content: center;
height: 614px;
 }
 #home::before{
    content: "";
    background:url(image/Background.1jpg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1 ;
    top:0px;
    left: 0px;
}
#home h1{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
}
 .h-primary{
    font-size: 3.8rem;
    padding: 12px;
 }
    .h-primary-center{
        text-align: center;
        justify-content: center;
        font-size: 3.8rem;
    padding: 12px;
    background-color: #8ab579;
    color: white;
    font-family: monospace;
    }


    
    .h-secondary-center{
        font-size: 2.0rem;
        padding: 12px;
        text-align: center;
        justify-content: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;

    }
/*buttons*/
.btn{
    padding: 6px 20px;
    border: 5px solid white;
    background: none;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
  
}
.btn1{
    padding: 6px 20px;
    border: 5px solid white;
    background-color: wheat;
    color: black;
    margin: 3px;
    font-size: 1.2rem;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
   


}
.btns{
      color: white;
      border: 3px solid white;
      background: none;
      margin: 3px;
      font-size: 1rem;
    padding: 3px 22px;
    border-radius: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}

.btn:hover{
    color: red;
    background-color: black;
}
.btn1:hover{
    color: red;
    background-color: black;
}
.btns:hover{
    color: red;
    background-color: black;
}
.btns i:hover{
    color: red;
    background-color: black;
}

/*placeholder search*/
#search{
    color: white;
    border: 3px solid white;
    background: none;
    margin: 3px;
    font-size: 1rem;
  padding: 3px 22px;
  border-radius: 8px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#search:hover{
    color: red;
    background-color: black;
}
/*blogs section*/
#blogs{
    display: flex;
    background-color: #8ab579;
}

#blogs .box{
    border: 2px solid white;
    margin: 7px;
    padding: 34px;
    border-radius: 40px ;
    background-color: #8c0000;
    
}

/*background-color: #d18585;*/
#blogs .box img{
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 28px;
    
}
#blogs .box p{
    color: white;
    font-family: cursive;
}

/*parts 
1rem=16px*/
#parts{
    display: flex;
    background-color: #8ab579;
}

#parts .box img{
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 23px;
    
    
}
#parts .box p{
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 23px;
    margin: 10px;
    color: white;
    font-family: cursive;
    
}


#parts .box{
    border: 2px solid white;
    margin: 5px;
    padding: 34px;
    border-radius: 23px ;
    background-color:#8c0000; 
    
    
}

.he-secondary-center{
    font-size: 2.0rem;
    padding: 15px;
    margin-top: -42px;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.but{
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
}


footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color:#8c0000; 
}

.socialicons a i{
    font-size: 2em;
    opacity: 0.9;
}

.socialicons a:hover{
    transition: 0.5s;
    background-color: black;
}

.socialicons a i:hover{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
}

.footernav ul li{
    list-style: none;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.5;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}

.copyright{
    background-color: black;
    padding: 15px;
    text-align: center;

}
.copyright p{
color: red;
opacity: 0.7;

}


#logo1{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;

    height: 100%;
}
#logo1 img{

height: 150px;
}

body{
    background-image: url(image/allgemeinbackground.jpg);
    

}

.login-container{
    background: wheat;
    opacity:0.9 ;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    display: block;
    height: fit-content;
    padding: 10px 72px;
    box-shadow: rgba(0, 0,0, 0.1);
    min-width: 25rem;
}
.login-container .social-login{
    display: flex;
    gap: 40px;
}
.social-login .social-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px 0px ;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #8c0000;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 500;
   

}

.social-login .social-button:hover{
background: #8c0000;
border-color: aliceblue;
}


.login-container .separator{
    margin: 1.5rem 0;
    text-align: center;
    position: relative;

}

.login-container .separator span{
    position: relative;
  z-index: 1;
    padding: 0 0.9rem;
    font-weight: 500;
    font-size: 1.06rem;
    background: wheat;

}

.login-container .separator::after{
  position: absolute;
  content: "";
  background: white;
  left: 0;
  width: 100%;
  height: 1px;
  top: 50%;
  

}
.login-form .input-wrapper{
    height: 54px;
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.login-form .input-wrapper .input-field{
    width: 87%;
    height: 100%;
    border-radius: 0.31rem;
    border: 2px solid black;
    padding: 0 1rem 0 2rem;
    outline: none;
    font-size: 1.06rem;
    transition: 0.2s ease;

    
}

.login-form .input-wrapper .input-field:focus{
    border-color: #8c0000 ;

}
.login-form .input-wrapper .input-field::placeholder{
color: black;
}

.login-form .input-wrapper i{
    color: #8c0000;
    position: absolute;
    top: 66%;
    transform: translateY(-100%);
    left: 0.9rem;
    pointer-events: none;
    transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus ~ i{
    color: aqua;

}

.login-form .forget-pass-link{
    display: block;
    width: fit-content;
    margin-top: -0.46rem;
}

.login-form .login-button{
    width: 100%;
    height: 54px;
    background: #8ab579;
    margin-top: 2.19rem;
    cursor: pointer;
    outline: none;
    font-size: 1.125rem;
    color: white;
    border-radius: 0.31rem;
}

.login-form .login-button:hover{
    background:#8c0000;

}

.login-container .signup-text{
    text-align: center;
    font-weight: 500;
    margin: 1.75rem 0 0.31rem;
}

.login-container a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
}

.login-container .signup-text{
    font-size: 20px;
}

.login-container a:hover{
    text-decoration: underline;
}

.social-login .social-button a i{
font-size: 80px;
}
